body {
    -webkit-user-select: none;
    user-select: none;
    background-color: #000;
}

table {
    width: 100%;
}

table,
td,
th,
thead,
tbody {
    background-color: transparent;
}

.Grids-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px 6% 10px;
    position: relative;
    z-index: 99999999;
    background-color: #bfbfbfd9;
    border-radius: 0.5em;
}

.Grids-light {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    margin: 10px 6% 10px;
    position: relative;
    z-index: 99999999;
    background-color: #000000bd;
    border-radius: 0.5em;
}

a.dropdown-item:hover {
    background-color: #00000024;
    backdrop-filter: blur(1px);
}

.dropdown-menu.show {
    background-color: #00000024;
    backdrop-filter: blur(4px);
    z-index: 100000001;
}

#footer {
    margin-left: 6%;
    margin-right: 6%;
    border-width: 1px;
    border-radius: 0.5em;
    margin: 10px 10;

}

#footercopyright-dark {
    color: #fff;
}

#footercopyright-light {
    color: #000;
}

.footer.dark-text {
    border-radius: 0.5em;
    color: #87878E;
    display: flex;
    justify-content: space-around;
    padding: 10px 6% 0px;
}

.footer.light-text {
    border-radius: 0.5em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 10px 6% 0px;
}

.footer-content {
    flex: 1;
}

.footer-nav-dark {
    display: flex;
    align-items: center;
}

.footer-nav-light {
    display: flex;
    align-items: center;
}

.footer-nav-dark ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav-light ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav-dark li {
    margin-right: 10px;
}

.footer-nav-light li {
    margin-right: 10px;
}

.footer-nav-dark a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-nav-light a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer-nav a:hover {
    color: orange;
}

.footer-link-dark {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.footer-link-light {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

.footer-link-dark:hover {
    color: orange;
    text-decoration: none;
}

.footer-link-light:hover {
    color: orange;
    text-decoration: none;
}

.full-wh {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}


.bg-animation {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



/* Styles for devices with width <= 770px */
@media (max-width: 770px) {
    #aboutme {
        margin-top: 15px;
        position: relative;
    }

    #aboutmediv {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #aboutmediv aside {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
        display: flex;
    }

    #aboutmeart {
        justify-items: flex-start;
        display: grid;
        gap: .25rem;
        margin-top: 15px;
    }

    #aboutmeart header {
        margin-bottom: 1rem;
    }

    #aboutmeart p {
        max-width: 390px;
    }

        #mypicturee {
            max-width: 340px;
            max-height: 310px;
        }
    
        .svg-image {
            width: 270px;
            height: auto;
        }
    
        /* Centering the wrapper div */
        .logoimagewrapper {
            display: flex;
            gap: 1px;
            flex-wrap: wrap;
            justify-content: center;
            /* Horizontally center the items */
            align-items: center;
            /* Vertically center the items */
            /* Full viewport height to center vertically */
        }
    
        /* Common styles for all images */
        .logohoverImage {
            width: 50px;
            height: 50px;
            padding: 2px;
            background-color: white;
            transition: transform 0.3s ease;
        }
    
        /* Specific styling for the Node.js logo */
        #NodeImage {
            width: 100px;
        }
    
        /* Zoom effect on hover */
        .logohoverImage:hover {
            transform: scale(1.2);
        }
}

@media (min-width: 770px) {
    #aboutme {
        margin-top: 150px;
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
    }

    #aboutmediv {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
    }


    #aboutmeart {
        width: -moz-available;
        max-width: 600px;
        justify-items: flex-start;
        display: grid;
        gap: 1px;
    }

    #aboutmediv aside {
        width: 100%;
        margin-left: 10%;
        justify-content: center;
        display: flex;
    }

    #aboutmeart header {
        margin-bottom: 1rem;
    }

    #aboutmeart p {
        max-width: 390px;
    }

    #mypicturee {
        max-width: 340px;
        max-height: 310px;
    }

    .svg-image {
        width: 270px;
        height: auto;
    }

    /* Centering the wrapper div */
    .logoimagewrapper {
        display: flex;
        gap: 1px;
        flex-wrap: wrap;
        justify-content: center;
        /* Horizontally center the items */
        align-items: center;
        /* Vertically center the items */
        /* Full viewport height to center vertically */
    }

    /* Common styles for all images */
    .logohoverImage {
        width: 50px;
        height: 50px;
        padding: 2px;
        background-color: white;
        transition: transform 0.3s ease;
    }

    /* Specific styling for the Node.js logo */
    #NodeImage {
        width: 100px;
    }

    /* Zoom effect on hover */
    .logohoverImage:hover {
        transform: scale(1.2);
    }
}